:root{
    --red: rgb(184, 46, 46);
    --dark: rgb(39, 39, 39);
}

*{
    padding: 0;
    margin: 0;
}

html{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Mukta', sans-serif;
}

.container, .details{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.car-content{
    width: 100%;
    margin: 20px 0;
}

.car-content{
    width: 100%;
    margin: 20px 0;
    transition: 0.3s ease-in;
    box-sizing: border-box;
}

.car-content img, .details-info img{
    width: 100%;
}

.car-content:hover{
    transform: scale(1.05);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.24);
box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.24);
}

.car-brand{
    color: var(--red);
    font-weight: 800;
    margin-top: 10px;
}

.car-price{
    margin: 10px 0;
    font-size: 22px;
}

.more{
    color: var(--red);
    margin: 20px 0;
}   

.main-info, .feature-container{
    box-sizing: border-box;
    padding: 10px 20px
}

.main-header{
    background-color: var(--red);
}

.main-header h1{
    color: #fff;
    font-size: 25px;
    font-weight: 900;
    padding: 20px 0;
    margin-left: 10px;
}

/***DETAILS PAGE ELEMENTS***/

.details-info{
    margin-bottom: 40px;
}

.details-model{
    font-size: 36px;
}

.details-price{
    margin-top: 20px;
    font-size: 26px;
}

.details-desc{
    margin: 20px 0;
}

.feature-container{
    background-color: rgb(236, 236, 236);
}


.feature-container h3{
    color: var(--red);
}

.feature-container h3:last-child{
    margin-top: 40px;
}

.main-feature, .extra-feature{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-feature>p, .extra-feature>p{
    margin: 10px;
}

.back{
    cursor: pointer;
}

@media (min-width: 700px){
    .container{
        max-width: 1100px;
    }

    .car-content{
        width: 400px;
        margin: 20px;
    }
}